/* styles.css */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  max-width: 300px;
  border: none;
  padding: 10px;
  margin: auto;
  text-align: left;
}

/* .product-card img {
  max-width: 100%;
  height: auto;
} */

/* .product-card h2 {
  font-size: 1.2em;
  margin: 10px 0;
} */

/* .product-card p {
  font-weight: bold;
  color: #007bff;
} */

.ww {
  color: #000;
  /* Subtitles */
  font-family: Syne;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* .mm {
  color: #000;
  font-family: Syne;
  font-size: 90px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
} */

.xx {
  color: rgba(22, 22, 21, 0.5);

  /* Body text 14 */
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
